<!doctype html>
<html lang="ja" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%= title %></title>

    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="angular/angular.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD_O9EcAyfIRs1oQXU-vv2tWbSkTN4iqhU&sensor=false"></script>
    <script src="js/index.js"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><%= title %></a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- map -->
            <div id="map_canvas" class="col-md-9"></div>

            <div id="controll" class="col-md-3" ng-controller="GisController">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="searchAddress">Search Address</label>
                        <input type="text" class="form-control input-lg" id="searchAddress"
                            ng-model="searchText"
                            placeholder="Search">
                    </div>
                </form>
                <hr>
                <div class="list-group">
                    <a herf="#" class="list-group-item"
                        ng-repeat="area in areas | filter:searchText"
                        ng-class="{ active: isSelected(area.code) }"
                        ng-click="selectArea(area.code)">
                        {{area.city}}
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /.container -->

</body>
</html>